* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.space {
    flex-basis: 100%;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
    align-items: center;
    justify-content: center;

    &__img {
        width: 50px;
        margin-right: 10px;
        user-select: none;
    }
    
    &__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 50px;
        margin: 0;
        
    }

    &__subline {
        margin: 10px 0;
        width: 30%;
        border: 2px solid black;
        border-radius: 4px;
    }
}

.content {
    padding: 40px 0 0 0;

    &__description {
        font-weight: 400;
        margin: 0 0 40px 0;
        text-align: center;

        &_title  {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 40px;
            text-align: center;

            &:after{
                content: '';
                position: absolute;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                width: 6ch;
                border: 2px solid black;
            }
        }
    }

    &__flex {
        display: grid;
        justify-content: space-between;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        flex-wrap: wrap;

        &__item {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;
            margin: 0 0 40px 0;
            text-decoration: none;

            &__avatar {
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 0 10px 0;
                transition: ease-in-out 0.2s;
                user-select: none;
            }

            &__name {
                width: 300px;
                text-align: center;
                font-weight: 400;
                color: black;
                margin: 0 0 10px 0;
                font-size: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__univer {
                font-weight: 400;
                color: gray;
                margin: 0;
                font-size: 20px;
                text-align: center;
            }
        }

        &__item:hover {
            .content__flex__item__avatar {
                box-shadow: 0 0 20px purple;
            }
        }  
    }
}

.cart-person {
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba($color: gray, $alpha: 0.5);
    align-content: center;

    &__container {
        display: grid;
        width: 700px;
        height: auto;
        grid-template-rows: 50px auto auto 1fr;
        grid-template-columns: 190px 190px 300px;
        padding: 10px;
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 0 20px gray;

        &__avatar {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 16px;
            grid-column: 3;
            grid-row: 2/6;
            user-select: none;
        }

        &__close {
            width: 20px;
            grid-column: 3;
            margin: 10px 10px 10px auto;
            cursor: pointer;
            transform: rotate(45deg) scale(0.9);
            transition: ease-in-out 0.2s;
            user-select: none;
        }

        &__close:hover {
            transform: rotate(90deg);
        }

        &__name {
            grid-row: 2;
            grid-column: 1/3;
            height: auto;
            margin-bottom: 10px;;
            font-weight: 400;
            font-size: 40px;
            word-wrap: break-word;
            padding-right: 10px;
        }
        
        &__form {
            &_1 {
                grid-row: 3;
                grid-column: 1;
                font-weight: 400;
                color: gray;
                font-size: 20px;
                height: auto;
                margin-bottom: 10px;
            }

            &_2 {
                grid-row: 4;
                grid-column: 1;
                font-weight: 400;
                color: gray;
                font-size: 20px;
                height: auto;
            }
        }

        &__value {
            &_1 {
                grid-row: 3;
                grid-column: 2;
                font-weight: 400;
                font-size: 20px;
                padding-right: 10px;
                height: auto;
            }

            &_2 {
                grid-row: 4;
                grid-column: 2;
                font-weight: 400;
                font-size: 20px;
                padding-right: 10px;
                height: auto;
            }
        }

        &__delete {
            display: flex;
            height: 40px;
            width: 100%;
            border: 2px solid black;
            margin: auto 0 0 0 ;
            border-radius: 6px;
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            text-align: center;
            align-items: center;
            justify-content: center;
            transition: ease-in-out 0.2s;
            user-select: none;
            grid-auto-rows: auto;
        }

        &__delete:hover {
            color: white;
            background-color: grey;
        }
    }
}