@bublF: #a83a01;
@bubl: #009dd2;
@text: #ffd898;
@shadow: #ffd898;
@size: 55px;

* {
    font-family: 'Roboto Condensed', sans-serif;
    user-select: none;
    box-sizing: border-box;
}

html::before {
    content: '';
    position: fixed;
    z-index: -1;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    width: 100%;
    height: 100%;
}

.title {
    display: block;
    text-align: center;
    font-size: 50px;
    color: @text;
    text-transform: uppercase;
}

.start {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;

    &__text {
        font-size: 30px;
        margin-bottom: 25px;

        &:focus {
            outline: none;
        }
    }

    &__button {
        font-size: 30px;
    }
}

.nameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(@size * 22);
    margin: 0 auto;

    &__name {
        width: 100%;
        margin: 0 auto 20px 0;
        padding: 10px;
        font-size: 30px;
        color: @text;
        animation: ease 0.5s forwards;
        border-radius: 10px 50% 50% 10px;

        &:nth-child(2) {
            text-align: right;
            border-radius: 50% 10px 10px 50%;
        }
    }
}

.main {
    display: grid;
    width: calc(@size * 22);
    height: calc(@size * 11);
    grid-template-columns: repeat(22, @size);
    grid-template-rows: repeat(11, @size);
    margin: 0 auto;
}

.tableHead {
    border-spacing: 0;
    border-collapse: collapse;

    &:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 11;
    }

    &:nth-child(4) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 13;
        grid-column-end: 23;
    }

    &:nth-child(2) {
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 11;
        grid-column-end: 12;
    }

    &:nth-child(5) {
        grid-row-start: 2;
        grid-row-end: 10;
        grid-column-start: 12;
        grid-column-end: 13;
    }

    &__cell {
        width: @size;
        height: @size;
        padding: 0;
        text-align: center;
        font-size: 20px;
        color: yellow;
        vertical-align: middle;
    }
}

.arena {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 12;
    width: 100%;
    height: 100%;
    stroke: yellow;
    fill: none;

    &__line {
        transform: scale(55/40);
    }

    &:nth-child(6) {
        grid-column-start: 13;
        grid-column-end: 23;
    }
}

.inputControl {
    width: calc(@size * 10);
    height: calc(@size * 10);
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 12;
    z-index: 2;
    border-spacing: 0;

    &:nth-child(10) {
        grid-column-start: 13;
        grid-column-end: 23;
    }

    &__cell {
        width: @size;
        height: @size;
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
            background-color: rgba(@bubl, 0.3);
        }
    }
}

.fleetContainer {
    display: grid;
    grid-template-columns: repeat(10, @size);
    grid-template-rows: repeat(10, @size);
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 12;
    z-index: 1;

    &:nth-child(8) {
        grid-column-start: 13;
        grid-column-end: 23;
    }

    &__ship__icon {
        transform-origin: @size/2 @size/2;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
}

@keyframes play{
    0% {
        background-color: none;
    }
    100% {
        background-color: @bubl;
    }
}

@keyframes stay{
    0% {
        background-color: @bubl;
    }
    100% {
        background-color: none;
    }
}