* {
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  -ms-grid-rows: 80px minmax(calc(100vh - 130px), auto) minmax(50px, auto);
      grid-template-rows: 80px minmax(calc(100vh - 130px), auto) minmax(50px, auto);
}

.container-grid__head {
  grid-column: span 2;
  padding: 15px 40px;
  background: #37ABFF;
}

.container-grid__menu {
  background: #EDEDED;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-grid__foot {
  grid-column: span 2;
  padding: 17px 40px;
  background: #3C3C3C;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-flex__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.container-flex__avatar-icon {
  background-color: #7ac2f5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.container-flex__main-curse {
  width: 100%;
  min-height: 80px;
  padding: 36px 100px 19px 40px;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  vertical-align: middle;
  color: #464646;
}

.container-flex__select-curse {
  width: 100%;
  min-height: 80px;
  padding: 19px 100px 19px 40px;
  cursor: pointer;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
  font-size: 18px;
  color: #464646;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container-flex__name-organisation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.container-flex__rulles {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.container-flex__page {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px 0 40px;
}

.container-flex__container-item {
  width: 230px;
  height: 340px;
  margin: 0 40px 40px 0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #F3F3F3;
}

.container-flex__container-item_intro {
  height: 120px;
  width: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.container-flex__container-item_container-text {
  padding: 10px;
  height: 180px;
}

.container-flex__container-item_title {
  margin: 0 0 7px 0;
  font-weight: 500;
  font-size: 16px;
  color: #464646;
}

.container-flex__container-item_date {
  margin: 0 0 17px 0;
  font-weight: 400;
  font-size: 10px;
  color: #ABABAB;
}

.container-flex__container-item_description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: #464646;
}

.container-flex__container-item_link {
  display: block;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #464646;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background: #DCDCDC;
  border-radius: 0px 0px 10px 10px;
}

.container-flex__container-item_showmore {
  display: block;
  margin: 0 auto 40px auto;
  width: 248px;
  height: 55px;
  background: #37ABFF;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.container-flex__container-item:nth-child(4n+4) {
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .container-flex__container-item {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 800px) {
  .container-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 80px auto minmax(calc(100vh - 130px), auto) minmax(50px, auto);
        grid-template-rows: 80px auto minmax(calc(100vh - 130px), auto) minmax(50px, auto);
  }
  .container-grid__menu {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .container-grid__foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-grid__main {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .container-flex__avatar-icon {
    display: none;
  }
  .container-flex__title {
    text-align: center;
  }
  .container-flex__name-organisation {
    margin: 0 0 10px 0;
  }
  .container-flex__container-item:nth-child(2n+2) {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 1100px) {
  .container-flex__container-item:nth-child(2n+2) {
    margin: 0 0 40px 0;
  }
}
/*# sourceMappingURL=style.css.map */